---
import { getCollection } from 'astro:content';
import PageTitle from '~/components/PageTitle.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
import BasicLayout from '~/layouts/BasicLayout.astro';

const friends = (await getCollection('friends')).filter(
  (i) => i.id !== 'example'
);
---

<BasicLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <PageTitle title="Friends" />

  {
    friends.length === 0 && (
      <div class="space-y-2">
        <h2>似乎这里没有什么活动的迹象呢。</h2>
        <p class="text-sm op-60">
          如果想要成为我的朋友的话，可以参考
          <a
            target="_blank"
            href="https://github.com/enpitsuLin/enpitsuLin.xyz/issues/129"
          >
            这个链接
          </a>
          <del>来成为马猴烧酒</del>
        </p>
      </div>
    )
  }
  {
    !!friends.length && (
      <div class="grid grid-cols-2 gap-2">
        {friends.map((friend) => (
          <div class="relative h-20 grid grid-cols-5 items-center gap-2 border p-2 rounded-md hover:bg-neutral-200 dark:hover:bg-neutral-700">
            <picture class="justify-self-center h-8 w-8">
              {typeof friend.data.favicon !== 'string' && (
                <>
                  <img
                    alt="light version favicon"
                    src={friend.data.favicon.dark}
                    class="hidden dark:block"
                  />
                  <img
                    alt="dark version favicon"
                    src={friend.data.favicon.light}
                    class="block dark:hidden"
                  />
                </>
              )}
              {typeof friend.data.favicon === 'string' && (
                <img alt="favicon" src={friend.data.favicon} />
              )}
            </picture>
            <div class="col-span-3">
              <p>{friend.data.title}</p>
              <p class="truncate text-sm op-60">{friend.data.description}</p>
            </div>
            <div class="i-ri:external-link-line justify-self-center" />
            <a
              title={friend.data.title}
              href={friend.data.url}
              class="absolute inset-0"
            />
          </div>
        ))}
      </div>
    )
  }
</BasicLayout>
