<div class="mb-search">
  <form action="//google.com/search" method="get" accept-charset="utf-8">
    <input type="search" name="q" results="0" placeholder="<%= __('Search') %>">
    <input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
  </form>
</div>
<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<span class="copyright">
		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
		由<a href="http://www.sanographix.net/" target="_blank">SANOGRAPHIX.NET</a>的<a href="http://sanographix.github.io/tumblr/apollo/" target="_blank">Apollo</a>修改而来<br>
		由<a href="http://hexo.io/" target="_blank">Hexo</a>强力驱动
	</span>
</footer>