---
import FormattedDate from './FormattedDate.astro';

interface Props {
  title: string;
  date: string;
  id: string;
  summary: string;
  tags: string[];
  slug: string;
  lang: string | null;
}

const { title, date, summary, tags, slug, lang } = Astro.props;
---

<article
  itemscope
  itemtype="http://schema.org/BlogPosting"
  class="flex border-t border-black dark:border-white border-opacity-8 dark:border-opacity-8 flex-col py-4 relative"
>
  <h2 itemprop="headline" class="text-6">
    <a href={`/blog/${slug}`}>
      {title}
    </a>
    {
      lang && (
        <sup class="inline-block text-neutral-400 px-1 text-xs rounded border border-neutral-300">
          {lang}
        </sup>
      )
    }
  </h2>

  <div
    itemprop="articleBody"
    class="my-4 text-opacity-82 text-sm text-neutral-600 dark:text-neutral-300"
  >
    <a href={`/blog/${slug}`}>{summary}</a>
  </div>

  <div class="flex items-center">
    <span
      class="text-xs text-neutral-400 dark:text-neutral-500"
      aria-disabled="true"
    >
      <span>发布于&nbsp;</span>
      <FormattedDate date={new Date(date)} itemprop="datePublished" />
    </span>
    <div class="space-x-2 flex items-center ml-4" aria-disabled="true">
      {
        tags.map((tag) => {
          return (
            <a
              title={tag}
              href={`/tags/${tag}/1`}
              class="inline-block text-xs motion-safe:(transition-colors duration-200 ease-in) text-neutral-400 dark:text-neutral-500 hover:underline"
            >
              #{tag}
            </a>
          );
        })
      }
    </div>
  </div>
</article>
