---
import FormattedDate from './FormattedDate.astro';

interface Props {
  title: string;
  date: string;
  id: string;
  summary: string;
  tags: string[];
  slug: string;
}

const { title, date, summary, tags, slug } = Astro.props;
---

<article
  itemscope
  itemtype="http://schema.org/BlogPosting"
  class="flex border-t border-black dark:border-white border-opacity-8 flex-col py-7.5 relative"
>
  <h2 itemprop="headline" class="mb-3.5">
    <a class="font-bold text-6" href={`/blog/${slug}`}>
      {title}
    </a>
  </h2>
  <div class="flex justify-between">
    <FormattedDate
      date={new Date(date)}
      itemprop="datePublished"
      class="text-sm text-neutral-700"
    />
    <div class="space-x-1">
      {
        tags.map((tag) => {
          return (
            <a
              title={tag}
              href={`/tags/${tag}/1`}
              class="inline-block px-4 h-7 leading-7  motion-safe:(transition-colors duration-200 ease-in) bg-black text-white dark:text-black dark:bg-white rounded-2xl"
            >
              {tag}
            </a>
          );
        })
      }
    </div>
  </div>

  <div itemprop="articleBody" class="my-4 text-opacity-82">
    <a href={`/blog/${slug}`}>{summary}</a>
  </div>
</article>
