---
import BasicLayout from './BasicLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
import BlogPost from '~/components/BlogPost.astro';
import PageTitle from '~/components/PageTitle.astro';
type Props = {
  posts: any[];
  page: {
    prev?: string;
    next?: string;
    total: number;
    current: number;
  };
};

const { posts, page } = Astro.props;

const createPagerUrl = (current: number, total: number) => {
  const prev =
    current === 1 ? undefined : `/blog/${current === 2 ? '' : current - 1}`;
  const next = current === total ? undefined : `/blog/${current + 1}`;
  return { prev, next };
};

const { prev, next } = createPagerUrl(page.current, page.total);
---

<BasicLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <PageTitle title="All Posts" />
  <ul>
    {
      posts.map((item) => (
        <li class="group">
          <BlogPost {...item} />
        </li>
      ))
    }
  </ul>
  <div class="pt-6 pb-8 text-sm">
    <nav class="flex justify-between">
      <a
        aria-label="Prev page"
        href={prev}
        data-disabled={!prev}
        class={[!!prev && 'hover:underline'].filter((i) => !!i).join(' ')}
      >
        « prev
      </a>
      <span>
        {page.current}/{page.total}
      </span>
      <a
        aria-label="Next page"
        href={next}
        data-disabled={!next}
        class={[!!next && 'hover:underline'].filter((i) => !!i).join(' ')}
      >
        next »
      </a>
    </nav>
  </div>
</BasicLayout>
