---
import type { CollectionEntry } from 'astro:content';
import BlogPost from '~/components/BlogPost.astro';
import PageTitle from '~/components/PageTitle.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
import BasicLayout from './BasicLayout.astro';
import type { ListPagination } from '~/lib/pagination';

type Props = {
  title: string;
  posts: CollectionEntry<'blog' | 'weekly'>[];
  page: {
    prev?: string;
    next?: string;
    total: number;
    current: number;
  };
  pagination: ListPagination;
};

const { title, posts, page, pagination: paginition } = Astro.props;

const { prev, next } = paginition(page.current, page.total);
---

<BasicLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <PageTitle title={title} />
  <ul>
    {
      posts.map((item) => (
        <li class="group">
          <BlogPost {...item} />
        </li>
      ))
    }
  </ul>
  <div pt6 pb8 text-sm>
    <nav flex="~ justify-between">
      <a
        aria-label="Prev page"
        href={prev}
        data-disabled={!prev}
        flex="~ items-center"
        class:list={[!!prev ? 'hover:underline' : 'op-30']}
      >
        <div i-ri:arrow-left-double-line></div>
        <span>Prev</span>
      </a>
      <span>
        {page.current}/{page.total}
      </span>
      <a
        aria-label="Next page"
        href={next}
        data-disabled={!next}
        flex="~ items-center"
        class:list={[!!next ? 'hover:underline' : 'op-30']}
      >
        <span>Next</span>
        <div i-ri:arrow-right-double-line></div>
      </a>
    </nav>
  </div>
</BasicLayout>
